

.final-annotation-container{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat:no-repeat;
    background-size: contain;
}

.fade-in-fwd {
	animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
    /* font-weight: 500; */
    font-size: 2.1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.final-annotation-container img{
    width: calc(min(70%,350px));
    animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;

}

.confetti{
    z-index: 5 !important;
}

.annotation-card{
    font-family: "Mulish", sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 1rem;
    box-shadow: 2px 1px 49px -12px rgba(79,79,79,0.75); */

}

@keyframes fade-in-fwd {
    0% {
    transform: translateZ(-80px);
    opacity: 0;
    }
    100% {
    transform: translateZ(0);
    opacity: 1;
    }
}