
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

.final-annotation-container{
    height: calc(100vh - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat:no-repeat;
    background-size: contain;
    background: radial-gradient(circle, rgba(202,232,243,1) 74%, rgba(235,236,238,1) 100%);
    font-family: 'Nunito Sans', sans-serif;
}

.fade-in-fwd {
	animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
    /* font-weight: 500; */
    font-size: 2.1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.final-annotation-container img{
    width: 300px;
    width: calc(min(50%,300px));
    animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;

}

.confetti{
    z-index: 5 !important;
}

.annotation-card{
    font-family: "Mulish", sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
    /* border-radius: 1rem;
    box-shadow: 2px 1px 49px -12px rgba(79,79,79,0.75); */

}

.annotation-card h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    color: #e04837;
}

.annotation-card .annotation-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.annotation-card .annotation-text-container small{
    background-color: rgba(255, 255, 255, 0.517);
    padding: .5rem 1rem;
    font-size: .9rem;
    margin-top: .5rem;
    color: #1abc9c;
    text-shadow: #000;
    border-radius: 1rem;
    
}

.annotation-card .annotation-text-container small b{
    color: #e74c3c;
}



@media screen and (max-width:768px){
    .final-annotation-container{
        justify-content: flex-start;
    }
    .annotation-card{
        margin-top: 12vh;
    }
}

@keyframes fade-in-fwd {
    0% {
    transform: translateZ(-80px);
    opacity: 0;
    }
    100% {
    transform: translateZ(0);
    opacity: 1;
    }
}