.voting-machine-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(min(600px,90%));
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid gray;
    border-radius: .5rem;    
    background-color: #E9EAE4;
    padding-bottom: 1rem;
}
.top-unit{
    font-size: 1.2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.top-unit .ready-icon{
    color: rgb(73, 124, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
}
.action-unit{
    width: 100%;
    box-sizing: border-box;
}
.candidate{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
}

.candidate-details{
    display: flex;
    align-items: center;
    width: 70%;
    text-align: left;
    background-color: #fff;
    border: 2px solid rgb(189, 189, 189);
    border-top: 0px;
    border-radius: .5rem;
    margin-left: .5rem;
}


.candiate-name{
    padding-left: 1rem;
}

.ballot-unit{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.ballot-unit .signal{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(175, 33, 33);
}

.ballot-button{
    width: 30px;
    height: 20px;
    border-radius: .7rem;
    background-color: #286A91;
}

@media screen and (min-width:768px){
    .ballot-button{
        width: 50px;
        height: 25px;
    }
    .ballot-unit .signal{
        font-size: 1.5rem;
    }
}