

    .constituency-main-wrapper{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        background-color: #EBECEE;
        background-repeat: no-repeat;
        background-size:50%;
        background-position: center;
        background-position-x: 20vw;
        background-position-y: 0vh;
        min-height: calc(100vh - 52px);
        
    }


    @media screen and (min-width:768px){
        .constituency-main-wrapper{
            background-position-y: center;
            flex-direction: row;
        }
    }




    .constituency-select-container{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 2rem;
        margin-top: 0;
        height: auto;
        /* border: 1px solid red; */

        
    }
    .select-action-container{
        min-height: calc(100vh - 300px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .select-action-container h1{
        font-weight: bolder;
        font-family: Open Sans;
        font-style: normal;
        font-size: 2.2rem;

        text-shadow: 0 4px 8px rgb(0 0 0 / 30%);
        color: #407fb4;
    }


    .select-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }

    .select{
        width: 250px;
        width:calc(min(350px,100%));
        height: 2rem  !important;
        border: none;
        /* border-radius: 4rem; */
    }
    .select-distict{
        width: 100px;
        width:calc(min(150px,100%));
        height: 2rem  !important;
    }

    .react-select__value-container{
        height: 2rem;
    }

    .go-vote-button{
        /* margin:3rem auto;
        margin-top: 3rem;
        width: 150px;
        padding: .5rem;
        font-size: 1rem;
        border-radius: 1rem;
        font-size: 1.1rem;
        border: 1px solid rgb(199, 199, 199);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        color: #fff;
        background-color: #3975a7;
        text-decoration: none !important;
         */
        margin:3rem auto;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        border: none;
        border-radius: 45px;

        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
    }

    button:disabled{
        opacity: .7;
        cursor: not-allowed;
        color: #000;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }


    .go-vote-button:hover{
        background-color: #2bd591;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-3px);
    }

    button:disabled:hover{
        background-color: #fff;
        box-shadow:none;
        color: #000;
        transform: translateY(0px);
    }

    .icon{
        font-family: 1.5rem;
        margin-right: .5rem;
    }

    @media screen and (max-width:320px){
        .select-wrapper{
            font-size: .7rem;
        }
        
    }

    @media screen and (max-width:768px){
        .constituency-select-container{
            margin-top: 10vh;
        }
        .select-action-container{
            min-height: auto;
            margin-top: 15vh;
        }
    }






    .virtual-election-info{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    
    
    @media screen and (min-width:768px){
    .virtual-election-info{
        flex: 1;
        justify-content: flex-start;
        background-position-y: 5vh;
        background-size: contain;
        background-position: left;
        background-position-y: center;
        }
    }

    .cardTop {
    width: 497px;
    height: 224px;
    background: #fac24f;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    }

    .timeline {
    width: auto;
    height: auto;
    padding: 3rem;
    background: #ecf1f524;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    overflow: hidden;
    margin-left: 71px;
    box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
    border-radius: 10px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .timeline h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #000;
    /* margin-left: 66px;
    margin-top: 40px; */
    }
    .timeline label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    /* margin-left: 66px;
    margin-top: 10px; */
    color: #000;
    }
    .timeline .box {
    width: 100%;
    height: auto;
    /* background: #fbfcfdd0; */
    margin-top: 99.5px;
    /* margin-bottom: 2rem; */
    
    }
    .timeline .box .container {
    width: 100%;
    height: auto;
    display: flex;
    padding-right: 3rem;    
    margin-bottom: 1rem;
    
    }
    .timeline .box .container .lines {
    margin-left: 1rem;
    margin-top: 6px;
    }
    .timeline .box .container .lines .dot {
    width: 14px;
    height: 14px;
    background: #d1d6e6;
    border-radius: 7px;
    }
    .timeline .box .container .lines .line {
    height: 6rem;
    width: 2px;
    background: #d1d6e6;
    margin-left: 5.3px;
    }
    .timeline .box .container .cards {
    margin-left: 12px;
    transform: translateY(-50px);
    }
    .timeline .box .container .cards .card {
    width: 250px;
    height: 103px;
    /* padding-top: 25px; */
    background: #ffffff;
    box-shadow: 0 2px 2px 0 #eeeeee40;
    border-radius: 10px;
    box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.3);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    }
    .timeline .box .container .cards .card:hover {
        transform: translateY(-3px);
        transform: translate(5px);
        transition: .5s;
        transform: scale(1.03);
    }
    /* .timeline .box .container .cards .card.mid {
     height: 75px; 
    } */
    .timeline .box .container .cards .card h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    /* line-height: 19px; */
    margin-left: 25px;
    /* margin-bottom: 5px; */
    color: #2b2862;
    margin: 0;
    }
    .timeline .box .container .cards .card p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    /* line-height: 22px; */
    /* color: #898989; */
    margin-left: 25px;
    margin: 0;
    }
    .timeline .box .bottom {
    width: 100%;
    height: 107px;
    background: #fff;
    box-shadow: 0 0 2px #eeeeee50;
    padding-top: 45px;
    }
    .timeline .box .bottom .btn {
    width: 249px;
    height: 62px;
    background: #ffffff40;
    mix-blend-mode: normal;
    cursor: pointer;
    border: 1px solid #8260d780;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #2b2862;
    margin-left: 53px;
    transition: 0.3s;
    background: #2b2862;
    color: #fff;
    border-color: #2b2862;
    }
    .timeline .box .bottom .btn:hover {
    transform: scale(.7);
    }

    .user-msg{
        
        font-size: .7rem;
        max-width: 200px !important;
        overflow: hidden;
        color: rgb(98, 98, 98);
        line-height: 2px;
    }



    @media screen and (max-width:768px){
        .timeline {
            margin: 0;
            margin-bottom: 3rem;
            padding: 0;
        }

        .container{
            padding: 0;
        }
        
    }