.constituency-select-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    
}
.select-action-container{
    min-height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.select-action-container h1{
    font-size: 2.1rem;
    font-weight: bolder;
}


.select-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.select{
    width:calc(min(350px,100%));
    height: 2rem  !important;
    /* border-radius: 4rem; */
}
.select-distict{
    width:calc(min(150px,100%));
    height: 2rem  !important;
}

.react-select__value-container{
    height: 2rem;
}

.go-vote-button{
    margin:3rem auto;
    margin-top: 3rem;
    width: 150px;
    padding: .5rem;
    font-size: 1rem;
    border-radius: .3rem;
    font-size: 1.1rem;
    border: 1px solid rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #fff;
    background-color: #3975a7;
    text-decoration: none !important;
}

button:disabled{
    opacity: .7;
    
}

.icon{
    font-family: 1.5rem;
    margin-right: .5rem;
}

@media screen and (max-width:320px){
    .select-wrapper{
        font-size: .7rem;
    }
    
}



