.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    background-color: rgb(49, 49, 49);
    color: #fff;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-container h1{
    font-size: 1.1rem;
    text-align: center;
    line-height: .9;
}
.logo-container h1 small{
    font-size: .9rem;
}
.logo-container .logo{
    margin-left: .5rem;
    /* margin-right: .5rem; */
    width: 45px;
    height: 45px;
}

.branding{
    margin-right: 1rem;
    font-size: .8rem;
}